body {
	margin:0;
	padding:0;
	background-color: #EFF3FF;
}
h3 {
	font-family: 'Roboto';
	font-weight: 400;
	font-size: 200%;
}

#banner {
	font-family: 'Roboto';
	font-weight: 400;
	font-size: 400%;
	color: #FFEDBC;
	text-align: center;
	background-color: #BCCCFF;
	margin:0;
	padding:2%;
}

:not(h3) {

	font-family: 'Source Serif Pro';
	font-size: 100%;
}


#ServerInfo{
	text-align: center;
	min-width: 0;
	padding:2%;
	background-color: #B2B2B2;
 	/*background: linear-gradient(#B2B2B2, #EFF3FF);*/
}

.lcol { 
	text-align: center;
	display:inline-block;
	vertical-align:top;
	width:25%;
}

#fileList, #textList {
	text-align: center;
	display:inline-block;
	vertical-align:top;
	width:50%;
}

